article {
  width: 1300px;
  margin: 0 auto;
}

#section01 {
  padding: 200px 0 70px;
}

#section01 .mask {
  position: relative;
  overflow: hidden;
}

#section01 .mask .slideWrap {
  display: flex;
  transition: 0.25s ease;
}

#section01 .mask .slideWrap .slide {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

#section01 .mask .slideWrap .slide a {
  display: block;
}

#section01 .mask .slideWrap .slide a .bgBox img {
  width: 100%;
}

#section02 .contentsBox > h3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 20px 20px;
}

#section02 .contentsBox .ipList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#section02 .contentsBox .ipList li a {
  position: relative;
  display: block;
}

#section02 .contentsBox .ipList li a .imgBox img {
  width: 100%;
  vertical-align: top;
}

#section02 .contentsBox .ipList li a .infoBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px 0 0 20px;
}

#section02 .contentsBox .ipList li a .infoBox dt {
  font-size: 2.6rem;
  font-weight: 500;
  color: #ffdf0b;
  margin-bottom: 15px;
}

#section02 .contentsBox .ipList li a .infoBox dd {
  font-size: 1.6rem;
  line-height: 1.5;
}

#section02 .contentsBox .ipList li a .infoBox dd:last-child {
  position: absolute;
  bottom: 30px;
}

#section02 .contentsBox .ipList li h3 {
  text-align: center;
  margin: 30px 0;
  font-size: 2rem;
  font-weight: 700;
}

#section03 {
  background-color: #f2f2f2;
}

#section03 .contentsBox {
  padding: 40px 0;
}

#section03 .contentsBox > h3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 20px 20px;
}

#section03 .contentsBox .mainStoryBox {
  display: flex;
}

#section03 .contentsBox .mainStoryBox .imgBox img {
  width: 100%;
  vertical-align: top;
}

#section03 .contentsBox .mainStoryBox .infoBox {
  position: relative;
  flex: 2;
  padding: 0 40px;
}

#section03 .contentsBox .mainStoryBox .infoBox dt {
  font-size: 2rem;
  font-weight: 700;
  padding: 0 0 5px 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #6b6767;
}

#section03 .contentsBox .mainStoryBox .infoBox dd {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  padding-left: 20px;
}

#section03 .contentsBox .mainStoryBox .infoBox dd.btnMore {
  padding: 0;
  position: absolute;
  top: 0;
  right: 50px;
}

#section03 .contentsBox .mainStoryBox .infoBox dd.btnMore a {
  display: block;
}

#section03 .contentsBox .mainStoryBox .infoBox dd.btnMore a:after {
  content: ">";
}

#section03 .contentsBox .subStoryBox {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 20px;
}

#section03 .contentsBox .subStoryBox li {
  padding-right: 20px;
  width: 20%;
}

#section03 .contentsBox .subStoryBox li:last-child {
  padding-right: 0;
}

#section03 .contentsBox .subStoryBox li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#section03 .contentsBox .subStoryBox li a .imgBox img {
  width: 100%;
  height: 135.23px;
  vertical-align: top;
}

#section03 .contentsBox .subStoryBox li a .txt {
  display: flex;
  flex-wrap: nowrap;
}

#section03 .contentsBox .subStoryBox li a .txt dt {
  font-weight: 700;
  font-size: 2rem;
  width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
}

#section03 .contentsBox .subStoryBox li a .txt dd {
  font-size: 1.4rem;
  width: 100%;
  height: 2.5em;
  line-height: 1.25;
  overflow: hidden;
  text-overflow: ellipsis;
  display: none;
}

#section03 .contentsBox .subStoryBox li a h3 {
  display: block;
}

#section04 {
  margin-top: 30px;
}

#section04 .title a img {
  width: 100%;
  vertical-align: top;
}

#section04 .contentsBox {
  display: flex;
  padding: 30px 0 20px;
}

#section04 .contentsBox div {
  position: relative;
  flex: 1;
}

#section04 .contentsBox div.notice {
  padding-right: 50px;
}

#section04 .contentsBox div h3 {
  font-size: 3rem;
  font-weight: 700;
  border-bottom: 2px solid #6b6767;
  padding: 0 0 10px 20px;
}

#section04 .contentsBox div ul {
  padding: 10px;
}

#section04 .contentsBox div ul li {
  line-height: 1.5;
}

#section04 .contentsBox div ul li a {
  position: relative;
  display: block;
  font-size: 1.4rem;
}

#section04 .contentsBox div ul li a .date {
  position: absolute;
  right: 0;
}
