@media all and (max-width: 1770px) {
  #sideBar {
    display: none;
  }
}

@media all and (max-width: 1300px) {
  article {
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }
  #section01 .mask {
    padding: 0;
  }
  #section02 .contentsBox .ipList {
    justify-content: space-around;
  }
  #section02 .contentsBox .ipList li h3 {
    margin: 15px 0;
    font-size: 1.6rem;
  }
  #section03 .contentsBox {
    padding: 40px 10px;
  }
  #footer .contentsBox {
    padding: 0;
  }
  #footer .contentsBox .address {
    padding: 15px;
  }
}

@media all and (max-width: 1230px) {
  #header {
    text-align: left;
    overflow: visible;
    height: 100px;
    border: none;
  }
  #header:before {
    top: 99px;
  }
  #header:after {
    display: none;
  }
  #header #logo {
    padding-left: 10px;
    display: inline-block;
  }
  #header #gnb {
    margin-top: 0;
    position: fixed;
    display: inline-block;
    top: 100px;
    right: -100%;
    width: 200px;
    background-color: #fff;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
  #header #gnb .gnbList {
    display: none;
  }
  #header #gnb .resizeGnbList {
    display: inline-block;
  }
  #header .resizeBtn {
    display: block;
  }
  #sideBar {
    height: 53px;
  }
  #sideBar.fix {
    top: 80px;
    bottom: 0;
  }
  #sideBar .sideLink {
    border-bottom: 1px solid #d9d9d9;
  }
  #section01 {
    padding-top: 120px;
  }
  #section01 .mask .slideWrap .slide a .bgBox img {
    height: 300px;
  }
}

@media all and (max-width: 1120px) {
  #section03 .contentsBox .subStoryBox li a .txt dt {
    font-size: 1.4rem;
  }
  #section04 .contentsBox {
    flex-direction: column;
  }
  #section04 .contentsBox div {
    border-bottom: 1px solid #d9d9d9;
    padding: 0 10px;
  }
  #section04 .contentsBox div.notice {
    padding-right: 10px;
  }
  #section04 .contentsBox div.news {
    border: none;
  }
  #section04 .contentsBox div.news h3 {
    padding-top: 10px;
  }
  #section04 .contentsBox div h3 {
    position: relative;
    font-size: 1.4rem;
    border: none;
    padding: 15px 0 0 0;
  }
  #section04 .contentsBox div ul {
    padding: 10px 0 20px;
  }
  #section04 .contentsBox div ul li {
    position: relative;
  }
  #section04 .contentsBox div ul li:after {
    content: ">";
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 1.4rem;
  }
  #section04 .contentsBox div ul li a .date {
    display: none;
  }
}

@media all and (max-width: 910px) {
  #section03 .contentsBox .mainStoryBox {
    flex-direction: column;
  }
  #section03 .contentsBox .mainStoryBox .infoBox {
    flex: 1;
    padding: 0;
  }
  #section03 .contentsBox .mainStoryBox .infoBox dt {
    padding: 10px 0 10px 20px;
  }
  #section03 .contentsBox .mainStoryBox .infoBox dd {
    display: none;
  }
  #section03 .contentsBox .mainStoryBox .infoBox dd.btnMore {
    display: block;
    top: 10px;
  }
  #section03 .contentsBox .subStoryBox {
    flex-wrap: wrap;
  }
  #section03 .contentsBox .subStoryBox li {
    margin: 10px 0;
    width: auto;
  }
  #section03 .contentsBox .subStoryBox li a {
    flex-wrap: nowrap;
  }
  #section03 .contentsBox .subStoryBox li a .imgBox img {
    width: 120px;
    height: auto;
  }
  #section03 .contentsBox .subStoryBox li a .txt {
    flex-wrap: wrap;
    margin-left: 15px;
  }
  #section03 .contentsBox .subStoryBox li a .txt dt {
    text-align: left;
  }
  #section03 .contentsBox .subStoryBox li a .txt dd {
    display: block;
    height: 2.5em;
    overflow: hidden;
  }
  #sideBar {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
  }
  #sideBar .sideLink ul {
    display: flex;
    justify-content: center;
  }
  #sideBar .port {
    display: none;
  }
  #sideBar .sideSns {
    display: none;
  }
}

@media all and (max-width: 670px) {
  #section01 .mask button {
    width: 40px;
    height: 40px;
  }
  #section01 .mask button i {
    font-size: 2.4rem;
  }
  #footer:before {
    top: 25px;
  }
  #footer .other .otherLink li {
    padding: 5px 0;
  }
  #footer .other .otherLink li:nth-child(4) a:after {
    display: none;
  }
  #footer .other .otherLink li:nth-child(n + 5) {
    display: none;
  }
  #footer .address label {
    display: none;
  }
}

@media all and (max-width: 490px) {
  #header #logo a img {
    width: 140px;
  }
  #sideBar .sideLink ul li a img {
    width: 100%;
  }
  #section01 .mask .slideWrap .slide a .bgBox img {
    height: 180px;
  }
  #section01 .mask button {
    width: 30px;
    height: 30px;
  }
  #section01 .mask button i {
    font-size: 1.8rem;
  }
  #section02 .contentsBox .ipList li a .infoBox dt {
    font-size: 1.6rem;
  }
  #section02 .contentsBox .ipList li a .infoBox dd {
    font-size: 1.2rem;
  }
  #section02 .contentsBox .ipList li a .infoBox dd:last-child {
    top: 20px;
    right: 20px;
  }
  #section04 .contentsBox div ul li:after {
    top: -5px;
  }
  #section04 .contentsBox div ul li a {
    font-size: 0.8rem;
  }
  #footer {
    background-color: #f2f2f2;
  }
  #footer:before {
    display: none;
  }
  #footer .contentsBox {
    padding: 0;
  }
  #footer .contentsBox .other .otherLink li a {
    font-size: 1rem;
  }
  #footer .address {
    padding: 0 5px;
  }
  #footer .address dl {
    font-size: 1rem;
  }
}
